################################
##      Personal configs      ##
################################
.DS_Store

################################
##       Gradle               ##
################################
.gradle/

// Build things
target
*.class
**/build/

*.iml
*.ipr
*.iws
.idea
out

# Package Files #
*.jar
*.war
*.ear

# Don't exclude the gradle wrapper
!gradle/**/*.jar